.background-dashboard {
   background-image: url('./fitness1.jpeg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.background-login {
   background-image: url('./fitness3.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}

html, body {
   margin: auto;
   width: 100%;
}

